* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

root {
    --gray: #222;
    --gray-p: #465b52;
    --cyan-nav: #8000ff;
    --shadow-nav: rgba(0, 0, 0, 0.06);
    --purple: #8000ff;
    --white: #fff;
}

body {
    width: 100vh;
}

h1 {
    font-size: 60px;
    line-height: 64px;
    color: var(--black);
}

h2 {
    font-size: 76px;
    line-height: 54px;
    color: var(--gray);
}

h4 {
    font-size: 30px;
    color: var(--gray);
}

h6 {
    font-size: 12px;
    font-weight: 12px;
}

p {
    font-size: 32px;
    margin: 15px 0 20px 0;
    color: var(--gray-p);
}

.section-p1 {
    width: 100vw;
    height: auto;
    padding: 40px 80px;
    margin: 0;
}

.section-m1 {
    margin: 40px 0;
}

#header {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #f5784a;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header img {
    width: 80px;
    height: 80px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--gray);
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #fff;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#hero {
    width: 100vw;
    height: 80vh;
    background-image: url("./images/jordan.jpg");
    background-size: cover;
    max-width: 1666px;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center flex-start;
    justify-content: center;
}

#hero h1, h2, h4, p {
    color: #fff;
}

#hero h1, h2 {
    color: #f5784a;
    padding: 15px 0;
    font-family: 'Dancing Script', 'sans-serif';
    font-weight: 700;
}

.button {
    width: 175px;
    height: 70px;
    background: #f5784a;
    color: #fff;
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 700;
}

.button:hover {
    background: #fff;
    color: #f5784a;
}

#feature {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .feature-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
    border: 1px solid #222;
    border-radius: 5px;
    margin: 15px 0;
    cursor: pointer;
    transition: 0.3s ease;
}

#feature .feature-box:hover {
    border: 1px solid #f5784a;
    color: #f5784a;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.6);
}

#feature .feature-box h6 {
    width: 100px;
    height: 30px;
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-weight: 700;
}

#feature .feature-box h6:hover {
    background-color: #f5784a;
    color: #000;
}

#feature .feature-box img {
    width: 100px;
    height: 100px;
    align-items: center;
    margin-bottom: 10px;
}

#feature .title {
    width: 100%;
    text-align: center;
    margin: 0 0 10px 0;
}

#product1 {
    text-align: center;
}

#product1 .product-tittle, .product-description {
    width: 100%;
    margin: 0 0 10px 0;
    font-family: 'League Spartan', sans-serif;
    color: #000;
}

#product1 .product {
    width: 23vw;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #222;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
    margin: 20px 15px;
    transition: 0.2s ease;
}

#product1 .product:hover {
    border: 1px solid #f5784a;
    color: #f5784a;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.6);
}

#product1 .product .description {
    text-align: center;
    padding: 10px 0;
    position: relative;
}

#product1 .product .description .span-product {
    color: #f5784a;
    font-size: 24px;
}

#product1 .product .description h5 {
    padding-top: 7px;
    color: #000;
    font-size: 24px;
}

#product1 .product .description #star-product {
    padding-top: 7px;
    font-size: 24px;
    color: #ffcc00;
}

#product1 .product .description h4 {
    padding-top: 7px;
    color: #f5784a;
    font-weight: 700;
}

#product1 .product .description #cart-product {
    width: 50px;
    height: 50px;
    margin: 10px 0;
    line-height: 40px;
    background-color: #000;
    padding-top: 7px;
    color: #fff;
    font-size: 32px;
    border-radius: 50px;
}

#product1 .product-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    flex-wrap: wrap;
}

.img-product {
    width: 100%;
    height: 30vh;
    border-radius: 20px;
    background: #ededed;
}

#banner {
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("./images/banner-nike.jpg");
    background-size: cover;
    background-position: center;
}

#banner #h4-banner, #h2-banner {
    padding: 20px;
    margin: 10px 0;
    color: #f5784a;
    background: rgba(0, 0, 0, 0.387);
    font-weight: 700;
    border-radius: 5px;
}

#banner #h2-banner span {
    font-family: 'Dancing Script', 'sans-serif';
    color: #fff;
    font-weight: 700;
}